$white: #fff;
$title: #d9d9d9;
$main: #a6a6a6;
$card: rgba(255 255 255 / 70%);
$green: #34C759;
$cardSubs: #A4A8B2;
$cardDesc: #85878C;
$dark: #252525;
$black: #1A1A1A;
$title-bg: #303030;
$hover: #191919;
$gray: #737373;